/*SITE WIDE*//*SITE WIDE*//*SITE WIDE*/
@import url(http://fonts.googleapis.com/css?family=Merriweather);

* {
    box-sizing: border-box;
}

body {
    font-family: 'Merriweather', 'Raleway', sans-serif;
    background-color: #000;
    color: #fff;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
}
/*END*//*END*//*END*/


/*HOMEPAGE*//*HOMEPAGE*//*HOMEPAGE*/
#intro {
    height:100vh;
    width: 100%;
    background: url(../img/bg.jpg) no-repeat center center fixed; /*BACKGROUND img*/
    background-size: cover;
    margin: 0 auto;
    position: relative;
}

#wrapper {
    width: 900px;
    margin: 0 auto;
    height: 100vh;
    overflow: auto;
    position: relative;
}

/*Home page, intro*/
#vuken, #details {
    position: relative;
}
#vuken {
    margin-top: 15vh;
    /*left: 3%;*/
    width: 360px;
}
#details {
    width: 320px;
    left: 20px;
    font-weight: 200;
    font-size: .8em;
    border-top: 1px solid #fff;
    padding-top: 10px;
}

/*Home page, background caption*/
#caption {
    position: absolute;
    bottom: 15vh;
    right: 0;
}
#caption h2, #caption h3 {
    background-color: rgba(225, 225, 225, 0.4); /*(6, 31, 69, 0.2)light smoke grey, 0.2 transparent*/
    color: #fff; /**/
    display: block;
    float: right;
    clear: both;
    padding: 3px 5px;
    margin: 0;
}
#caption h2 {
    font-weight: 600;
    font-size: 1em;
    font-style: italic;
}
#caption h3 {
    font-weight: 200;
    font-size: .7em;
    margin-top: 2px;
}

.heart {
    color: #ff0000; /*red*/
}



/*NAV BARs & LINKs*//*NAV BARs & LINKs*//*NAV BARs & LINKs*/
nav.horizontal ul {
    padding-left: 0;
    margin-left: 0;
}
nav.horizontal li {
    display: block;
    float: left;
    padding: 0;
}

nav a {
    text-decoration: none;
    font-weight: 600;
    color: #fff; /**/
}
nav a:Hover {
    color: #061f45; /*midnightblue*/
    /*color: #703504;*/ /*saddlebrown*/
}

/*TOP NAV BAR*/
#topNavBar {
    height: 85px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    /*border: 1px solid white;*/
}
#topLeftNav {
    margin-left: 25px;
    float: left;
}
#topLeftNav ul li {
    margin: 15px 5px;
    height: 30px;
}
/*END TOP NAV BAR*/


/*BOTTOM NAV BAR*/
#bottomNavBar {
    /*height: 80px;*/
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 100;
    /*border: 1px solid white;*/
}


/*BOTTOM RIGHT NAV BAR*/
#bottomRightNav {
    float: right;
    margin-right: 25px;
}
#bottomRightNav ul li {
    margin: 15px 5px;
    height: 30px;
}
nav img {
    width: 30px;
}

/*NAV BAR hovers*/
/*LinkedIn*/
.linkedin:Hover {
    background: #007bb6; /*darkcyan*/
    border-radius: 18px;
    transition: background .25s ease-in-out;
    -moz-transition: background .25s ease-in-out;
    -webkit-transition: background .25s ease-in-out;
}
/*Facebook*/
.facebook:Hover {
    background: #3B5998; /*darkslateblue */
    border-radius: 18px;
    transition: background .2s ease-in-out;
    -moz-transition: background .2s ease-in-out;
    -webkit-transition: background .2s ease-in-out;
}
/*Tumblr*/
.tumblr:Hover {
    background: #703504; /*saddlebrown*/
    border-radius: 18px;
    transition: background .2s ease-in-out;
    -moz-transition: background .2s ease-in-out;
    -webkit-transition: background .2s ease-in-out;

}
/*Twitter*/
.twitter:Hover {
    background: #00aced; /*deepskyblue*/
    border-radius: 18px;
    transition: background .2s ease-in-out;
    -moz-transition: background .2s ease-in-out;
    -webkit-transition: background .2s ease-in-out;
}
/*Pinterest*/
.pinterest:Hover {
    background: #cb2027; /*firebrick*/
    border-radius: 18px;
    transition: background .2s ease-in-out;
    -moz-transition: background .2s ease-in-out;
    -webkit-transition: background .2s ease-in-out;
}
/*Instagram*/
.instagram:Hover {
    background: #517fa4; /*steelblue*/
    border-radius: 18px;
    transition: background .2s ease-in-out;
    -moz-transition: background .2s ease-in-out;
    -webkit-transition: background .2s ease-in-out;
}
/*Dribble*/
.dribbble:Hover {
    background: #ea4c89; /*palevioletred*/
    border-radius: 18px;
    transition: background .2s ease-in-out;
    -moz-transition: background .2s ease-in-out;
    -webkit-transition: background .2s ease-in-out;
}
/*END BOTTOM NAV BAR*/
/*NAV BARs & LINKs END*//*NAV BARs & LINKs END*//*NAV BARs & LINKs END*/





/*PORTFOLIO section*//*PORTFOLIO section*//*PORTFOLIO section*/
/*PORTFOLIO section*//*PORTFOLIO section*//*PORTFOLIO section*/
/*PORTFOLIO section*//*PORTFOLIO section*//*PORTFOLIO section*/
#portfolio {
    background-color: #333; 
    border: 1px solid #333; /*weird, when taking this out the other bg shows up*/
}
.grid {
    width: 90%;
    margin: 50px auto;
}


.tile {
    width: 80%;
    height: 250px;
    overflow: hidden;
    margin: auto;
}


/*Hover BUMP*//*Hover BUMP*//*Hover BUMP*/
/*Hover BUMP*//*Hover BUMP*//*Hover BUMP*//*Hover BUMP*//*Hover BUMP*//*Hover BUMP*/
/*Hover BUMP*//*Hover BUMP*//*Hover BUMP*/
/*
body {
  font-family: 'Merriweather', serif;
  padding: 20px;
}
*/
a {
  /*color: #f06d06;*/ /*darkorange*/
  text-decoration: none;
}

.box {
  padding: 2em;
  /*border: 1px solid #ccc;*/ /*lightgray*/
  display: block;
  width: 80%;
  height: 250px;
  /*float: left;*/
  /*margin: -1px 0 0 -1px;*/
  margin: auto;
  color: #000;
  background: linear-gradient(
     #ddd, #ddd 50%, #333 50%, #333 
  ); /*darkslategray*/
  background-size: 100% 200%;
  transition: all 0.2s ease;
  animation: down-bump 0.4s ease;
}
.box h2 {
  font-family: 'Merriweather', serif;  
  font-weight: 400;
  letter-spacing: -1.5px;
  line-height: 1.2;
}
.box h3 {
  font: 0.8em "Lucida Grande", serif;
}

.box:hover {
  background-position: 100% 100%;
  animation: up-bump 0.4s ease;
}
.box:hover h2 {
  color: #48ad26; /*limegreen*/
}
.box:hover h2 span {
  color: white;
}
.box:hover h3 {
  color: #999; /*darkgray*/
}

@keyframes up-bump {
  0% { padding-top: 2em; }
  50% { padding-top: 1.5em; }
  100% { padding-top: 2em; }
}
@keyframes down-bump {
  0% { padding-top: 2em; }
  50% { padding-top: 2.5em; }
  100% { padding-top: 2em; }
}




/*
A good practice would be to start with three breakpoints : 
smaller than tablet (max 768), 
tablet (min 768 max 1024) and 
desktop (min 1024).
You'll go a long way with this simple approach.

So in other words we could instruct our web site to act as follows:
If you detect the end user's screen is smaller than 480 pixels you have to show the smartphone layout
If the screen is larger than 480 pixels but smaller than 1024 pixels, show us the tablet layout
If the screen is larger than 1024 show the regular desktop layout
*/

/*responsive from 575px to 899px*//*responsive from 575px to 899px*/
@media screen and (min-width: 575px) and (max-width: 899px) {
    #wrapper {
        width: 95%;
    }
    #vuken {
        width: 360px;
        margin: 0 auto;
        margin-top: 50px;
        /*left: 3%;*/
    }
    #details {
        width: 320px;
        text-align: left;
        left: 0;
        margin: 0 auto;
        margin-left: 25px; 
    }
    #caption {
        width:100%;
        text-align: center;
        margin: 0 5%;
        position: absolute;
        bottom: 10vh;
        right: 0;
    }
    #caption h2, #caption h3 {
        display:inline-block;
        margin: 0 auto;
        position:relative;
        float:right;
    }
    #caption h3 {
        margin-top: 2px;
    }
    .tile {
        height: 260px;
    }    
}

/*responsive from 0 to 574px*//*responsive from 0 to 574px*/
@media screen and (max-width: 574px) {
    #intro {
        background-position: 60% 50%;
    }

    #wrapper {
        width: 100%;
    }
    #vuken {
        width: 300px;
        margin: 0 auto;
        margin-top: 50px;
        display: block;
    }
    #details {
        width: 300;
        text-align: center;
        margin: 0 auto;
        left:0;
        top:0;
        margin-top: 20px;
    }

    /*TOP NAV BAR*/
    #topNavBar {
        height: 30px;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 100;
        /*border: 1px solid white;*/
    }
    #topLeftNav {
        margin-left: 5%;
        padding: 0;
        float: left;
    }
    #topLeftNav ul li {
        margin-top: 0;
    }
    /*END TOP NAV BAR*/

    /*BOTTOM NAV BAR*/
    #bottomNavBar {
        width: 100%;
        z-index: 100;
        /*border: 1px solid white;*/
    }

    /*BOTTOM RIGHT NAV BAR*/
    #bottomRightNav {
        margin: auto;
    }
    #bottomRightNav ul li {
        margin: 0 1ems;
        height: 30px;
    }
    nav img {
        width: 30px;
    }
    /*END BOTTOM RIGHT NAV BAR*/


    /*PORTFOLIO*/
    #portfolio, .grid, .tile {
        width: 100%;
    }
    .box {
        width: 96%;
        height: 250%;
        background: #333;
    }
    .box h2 {
        line-height: 1.2;
        font-size: 1em;
        color: #48ad26; /*limegreen*/
    }
    .box h2 span {
        color: #000;
    }
    .box h3 {
        color: #999; /*darkgray*/
    }
}