/*SITE WIDE*/
body {
    font-family:'Raleway', sans-serif;
    
    background-color: #000000;
    color: white;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
}


/*NAV BAR*/
#topNavBar {
    height: 85px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}
#topLeftNav {
    float:left;
    margin-left: 30px;
}

#topLeftNav ul li {
    margin:26px 8px;
    height:19px;
}


#bottomNavBar {
    height: 85px;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 100;
}

nav.horizontal ul {
    padding-left: 0;
    margin-left: 0;
}

nav.horizontal li {
    display: block;
    float: left;
    padding:0;
}

nav a {
    text-decoration: none;
    font-weight: 600;
    color: #fff; /*white*/
}

nav a:Hover {
    color: #061f45; /*midnightblue*/
}

#bottomLeftNav {
    float:left;
    margin-left: 30px;
}

#bottomLeftNav ul li {
    margin:26px 8px;
    height:19px;
}

#bottomRightNav {
    float: right;
    margin-right: 30px;
}

#bottomRightNav ul li {
    margin:20px 8px;
    height:30px;
}

nav img {
    width: 30px;
}

/*NAV BAR hovers*/
.linkedin:Hover {
    background: #007bb6; /*darkcyan*/
    border-radius: 18px;
    transition: background .25s ease-in-out;
    -moz-transition: background .25s ease-in-out;
    -webkit-transition: background .25s ease-in-out;
}

.facebook:Hover {
    background: #3B5998; /*darkslateblue */
    border-radius: 18px;
    transition: background .2s ease-in-out;
    -moz-transition: background .2s ease-in-out;
    -webkit-transition: background .2s ease-in-out;
}

.tumblr:Hover {
    background: #32506d; /*darkslategray*/
    border-radius: 18px;
    transition: background .2s ease-in-out;
    -moz-transition: background .2s ease-in-out;
    -webkit-transition: background .2s ease-in-out;

}

.twitter:Hover {
    background: #00aced; /*deepskyblue*/
    border-radius: 18px;
    transition: background .2s ease-in-out;
    -moz-transition: background .2s ease-in-out;
    -webkit-transition: background .2s ease-in-out;
}

.pinterest:Hover {
    background: #cb2027; /*firebrick*/
    border-radius: 18px;
    transition: background .2s ease-in-out;
    -moz-transition: background .2s ease-in-out;
    -webkit-transition: background .2s ease-in-out;
}

.instagram:Hover {
    background: #517fa4; /*steelblue*/
    border-radius: 18px;
    transition: background .2s ease-in-out;
    -moz-transition: background .2s ease-in-out;
    -webkit-transition: background .2s ease-in-out;
}

.dribbble:Hover {
    background: #ea4c89; /*palevioletred*/
    border-radius: 18px;
    transition: background .2s ease-in-out;
    -moz-transition: background .2s ease-in-out;
    -webkit-transition: background .2s ease-in-out;
}



/*HOMEPAGE*/
#intro {
    height:100vh;
    width: 100%;
    background: url(../img/bg.jpg) no-repeat center center fixed;
    background-size: cover;
    margin: 0 auto;
    position: relative;
}

#wrapper {
    width: 900px;
    margin: 0 auto;
    height: 100vh;
    overflow: auto;
    position: relative;
}

#mark, #details {
    position: relative;
}

#mark {
    margin-top: 20vh;
    width: 350px;
}

#details {
    width: 316px;
    top: 0;
    left: 20px;
    font-weight: 200;
    font-size: .9em;
    color: #fff; /*white*/
    border-top: 1px solid #fff; /*white*/
    padding-top: 10px;
}

#caption {
    position: absolute;
    bottom: 18vh;
    right: 0;
}

#caption h2, #caption h3 {
    background-color: rgba(6, 31, 69, 0.2); /**/
    color: #fff; /*white*/
    display: block;
    float: right;
    clear: both;
    padding: 3px 5px;
    margin: 0;
}

#caption h2 {
    font-weight: 600;
    font-size: 1em;
    font-style: italic;
}

#caption h3 {
    font-weight: 200;
    font-size: .8em;
    margin-top: 2px;
}

.heart {
    color: #ff0000; /*red*/
}

/*work section*/
.tile {
    height: 350px;
    overflow: hidden;
}

.overlay {
    font-family: 'lobster', cursive;
    font-size: 3em;
    vertical-align: middle;
    text-align: center;
    color: #fff; /**/
    position: relative;
    width: 100%;
    height: 350px;
    background: rgba(6, 31, 69, 0.8); /**/
    z-index:50;
    display: none;
    margin-top:-350px;
    pointer-events: none;
}

.overlay > div {
    display: table; 
    height: 350px; 
    overflow: hidden;
    width: 100%;
}

.overlay > div > div {
    display: table-cell; 
    vertical-align: middle;
}

.overlay p {
    text-align: center;
    line-height: 1em;
    padding: 0 20px;
}

.subtile, .subthumb {
    width:100%;
    height:100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    position: relative;
    z-index:0;
}

.subtile:hover {
    -webkit-animation-name: zoomRotate;
    -webkit-animation-duration: 0.8s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
    -webkit-animation-fill-mode: forwards;
    
    -moz-animation-name: zoomRotate;
    -moz-animation-duration: 0.8s;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: linear;
    -moz-animation-fill-mode: forwards;
    
    animation-name: zoomRotate;
    animation-duration: 0.8s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

    @-webkit-keyframes zoomRotate {
        from {
          -webkit-transform: scale(1, 1) rotate(0deg);
        }
        to {
          -webkit-transform: scale(1.15, 1.15) rotate(3deg);
        }
    }

    @-moz-keyframes zoomRotate {
        from {
          -moz-transform: scale(1, 1) rotate(0deg);
        }
        to {
          -moz-transform: scale(1.15, 1.15) rotate(3deg);
        }
    }

    @keyframes zoomRotate {
        from {
          transform: scale(1, 1) rotate(0deg);
        }
        to {
          transform: scale(1.15, 1.15) rotate(3deg);
        }
    }



/*artwork page*/
.thumb {
    height: 16.7vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    overflow: hidden;
}

.subthumb:hover {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-fill-mode: forwards;
    
    -moz-animation-name: zoom;
    -moz-animation-duration: 0.5s;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease-in-out;
    -moz-animation-fill-mode: forwards;
    
    animation-name: zoom;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

    @-webkit-keyframes zoom {
        from {
          -webkit-transform: scale(1, 1);
        }
        to {
          -webkit-transform: scale(1.1, 1.1);
        }
    }

    @-moz-keyframes zoom {
        from {
          -webkit-transform: scale(1, 1);
        }
        to {
          -webkit-transform: scale(1.1, 1.1);
        }
    }

    @keyframes zoom {
        from {
          -webkit-transform: scale(1, 1);
        }
        to {
          -webkit-transform: scale(1.1, 1.1);
        }
    }

#preview p {
    color: #061f45; /**/
    padding-left: 5.2%;
    width: 90%;
    margin: 0 auto;
    font-family: 'lobster', cursive;
    font-size: 3em;
    margin: 20px 0;
}

#photoWrapper {
    width: 90%;
    margin: 0 auto;
    height: 82vh;
    overflow: auto;
    position: relative;
}

#photo {
    width: 100%;
}

#artCaption {
    position: absolute;
    top: 2%;
    right: 0;
}

#artCaption h2, #artCaption h3 {
    background-color: rgba(6, 31, 69, 0.7); /**/
    color: #fff; /**/
    display: block;
    float: right;
    padding: 3px 5px;
    margin-right: 5%;
}

#artCaption h2 {
    font-weight: 600;
    font-size: 1em;
    font-style: italic;
}

#artCaption h3 {
    font-weight: 200;
    font-size: .8em;
    margin-top: -11px;
}



/*images*/
/*
.brianlovesjuliaTile {
    background-image: url("../img/juliadoodles.com.tile-brianlovesjulia.png");
}

.eye {
    background-image: url("../img/juliadoodles.com.art-eye.jpg");
}

.instagramTile {
    background-image: url("../img/juliadoodles.com.tile-instagram.jpg");
}

.linkedinTile {
    background-image: url("../img/juliadoodles.com.tile-linkedin.jpg");
}

.tumblrTile {
    background-image: url("../img/juliadoodles.com.tile-tumblr.jpg");
}

.maxwellTile {
    background-image: url("../img/juliadoodles.com.tile-maxwell.png");
}

.facebookTile {
    background-image: url("../img/juliadoodles.com.tile-facebook.jpg");
}

.poptropica {
    background-image: url("../img/juliadoodles.com.art-poptropica.jpg");
}

.orbs {
    background-image: url("../img/juliadoodles.com.art-orbs.jpg");
}

.three_hands {
    background-image: url("../img/juliadoodles.com.art-three_hands.jpg");
}

.still_life {
    background-image: url("../img/juliadoodles.com.art-still_life.jpg");
}

.converse {
    background-image: url("../img/juliadoodles.com.art-converse.jpg");
    background-position: 50% 5%;
}

.self_portrait {
    background-image: url("../img/juliadoodles.com.art-self_portrait.jpg");
}

.watershed {
    background-image: url("../img/juliadoodles.com.art-watershed.jpg");
}

.seattle_needle {
    background-image: url("../img/juliadoodles.com.art-seattle_needle.jpg");
    background-position: center top;
}

.gate {
    background-image: url("../img/juliadoodles.com.art-gate.jpg");
}

.skeleton {
    background-image: url("../img/juliadoodles.com.art-skeleton.jpg");
    background-position: center top;
}

.hogwarts {
    background-image: url("../img/juliadoodles.com.art-hogwarts.jpg");
}

.smithsonian {
    background-image: url("../img/juliadoodles.com.art-smithsonian.jpg");
}

.lily {
    background-image: url("../img/juliadoodles.com.art-lily.jpg");
}

.figure_5min {
    background-image: url("../img/juliadoodles.com.art-figure_5min.jpg");
    background-position: center top;
}

.not_so_still {
    background-image: url("../img/juliadoodles.com.art-not_so_still.jpg");
    background-position: 50% 35%;
}

.castle_interior {
    background-image: url("../img/juliadoodles.com.art-castle_interior.jpg");
}

.broken_heart {
    background-image: url("../img/juliadoodles.com.art-broken_heart.jpg");
}
*/



/*responsive from 575px to 899px*/
@media screen and (max-width: 899px) and (min-width: 575px) {

    #wrapper {
        width: 100%;
    }
    
    #mark {
        margin: 0 auto;
        margin-top: 140px;
        display: block;
    }

    #details {
        text-align: center;
        margin: 0 auto;
        left:0;
        top:0;
        margin-top: 20px;
    }

    #caption {
        text-align: center;
        margin: 0 auto;
        bottom: auto;
        right: auto;
        position: relative;
        width:500px;
        margin-top: 50px;
    }

    #caption h2, #caption h3 {
        display:inline-block;
        margin: 0 auto;
        position:relative;
        float:none;
    }

    #caption h3 {
        margin-top: 2px;
    }

    .tile, .thumb {
        height: 450px;
    }

    .overlay {
        height: 450px;
        margin-top:-450px;

    }

    .subthumb:hover {
    -webkit-animation: none !important;
    -moz-animation: none !important;
    animation-name: none !important;
    }

    #preview {
        display: none;
    }

    .overlay > div {
        height: 450px;
    }

}


/*responsive from 0 to 574px*/
@media screen and (max-width: 574px) {
    
    #intro {
        background-position: 60% 50%;
    }

    #wrapper {
        width: 100%;
    }
    
    #mark {
        margin: 0 auto;
        margin-top: 140px;
        display: block;
    }

    #details {
        text-align: center;
        margin: 0 auto;
        left:0;
        top:0;
        margin-top: 20px;
    }

    #caption, #preview {
        display: none;
    }

    #leftNav {
        display: none;
    }

    .thumb {
        height: 350px;
    }

    .subthumb:hover {
        -webkit-animation: none !important;
        -moz-animation: none !important;
        animation-name: none !important;
    }

}